.month_name_for_calendar p{
	left:0;
	top:10px;
	zoom: 1;
}

#spectacle_slider{
	width:100%;
}

/*MENU
--------------------------------------------------------*/
header{
	overflow:visible;
	height:90px;
}
