@font-face {font-family: 'IntervalSansPro-UltLight';src: url('/theme/fonts/2317AB_0_0.eot');src: url('/theme/fonts/2317AB_0_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_0_0.woff') format('woff'),url('/theme/fonts/2317AB_0_0.ttf') format('truetype');} 
  
@font-face {font-family: 'IntervalSansPro-Med';src: url('/theme/fonts/2317AB_1_0.eot');src: url('/theme/fonts/2317AB_1_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_1_0.woff') format('woff'),url('/theme/fonts/2317AB_1_0.ttf') format('truetype');}
  
@font-face {font-family: 'IntervalSansPro-Light';src: url('/theme/fonts/2317AB_2_0.eot');src: url('/theme/fonts/2317AB_2_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_2_0.woff') format('woff'),url('/theme/fonts/2317AB_2_0.ttf') format('truetype');}

*{
	margin:0;
	padding:0;
}

a, a:visited{
	color:#000;
	text-decoration:none;
}

.presentation a, .presentation a:visited, #content_static_container a, #content_static_container a:visited{
	text-decoration:underline;
}

.presentation a:hover, #content_static_container a:hover{
	color:#1285bc !important;
}

img{
	border:none;
}

html{
	background:#000;
	color:#FFF;
}

body{
	font-family: 'IntervalSansPro-UltLight';
}

.tinynav{display:none;}

.bottom{
	clear:both;
	margin-top:40px;
	overflow:hidden;
}

/* MESSAGING
--------------------------------------------------------*/

#growl_messages{
	position:absolute;
	top:0px;
	left:90px;
	padding:5px;
	padding-left:60px;
	z-index:8000;
	text-align:center;
	background:url('../images/mouette.gif') no-repeat 0 5px;
	font-family: 'IntervalSansPro-Light';
	color:#FDC400;
	margin-top:-200px;
	min-height:30px;
}

.disable { display: none; }

/* GENERAL
--------------------------------------------------------*/

.content_wrapper{
	display:none;
	width:980px;
	overflow:hidden;
}

.left_content{
	float:left;
	width:490px;
	margin:0;
}

#wrapper{
	width: 980px;
	height: 100%;
	overflow: auto;
	margin: 0 auto;
}

/* SPECTACLE
--------------------------------------------------------*/
.spectacle_infos h1{
	padding:25px 0 0 20px;
	font-family: 'IntervalSansPro-Light';
	width:365px;
	float:left;
	color:#666666;
}

.spectacle_infos h1 span{
	font-family: 'IntervalSansPro-UltLight';
	color:#999;
}

#inter_spectacle_navigation{
	text-align:right;
	padding:20px 20px 0 0 ; 
	position:relative;
}

.spectacle_infos{
	background:#fff;
	font-size:14px;
	color:#000;
	font-family: 'IntervalSansPro-Light';
	float: left;
	width: 490px;
	position:relative;
	z-index:10;
}

#spectacles_sliders h2{ 
	background:#fff;
	color:#000;
	font-size:40px;
	display:block;
	width:100px;
	float:left;
}

.top_spectacle{
	overflow:hidden;
	padding:20px 20px 0 20px;
	clear:both;
	color:#999;
}

.genre_age{
	color:#0099cc;
	font-family:'IntervalSansPro-Light';
	font-size:16px;
}

.genre_age #age_spectacle{
	padding-left:15px;
	background:url(../images/blue_disc.png) no-repeat top left;
}

.date_infos{
	padding-left:15px;
	background:url(../images/disc_star.png) no-repeat 0px -1px;
	color:#000;
	font-size:16px;
}

.tld{
	padding-top:18px;
	color:#666;
}

.infos_prog{
	padding-top:50px;
}

.resume{
	color: #000;
	font-family: 'IntervalSansPro-Med';
	padding-top: 4px;
}

.top_spectacle strong{
	font-style:normal !important;
	font-family: 'IntervalSansPro-Light';
	color:#000 !important;
}

.numero{
	width:87px;
	float:right;
	font-size:60px;
	font-weight:bold;
	position:absolute;
	right:22px;
	top:16px;
}

.presentation{
	padding: 20px 20px 0px 20px;
	font-family: 'IntervalSansPro-Light';
	font-size:14px;
	color:#000;
}

.presentation p{
	margin-bottom:30px;
}

.presentation span{
	color:#999;
}

#spectacle_container{
	width:980px;
	overflow:hidden;
	display:none;
}

#spectacle_container .numero{
	top:56px;
}

.images_slider{
	position:relative;
	height:350px;
}

.image{
	position:absolute;
	top:0;
	left:0;
}

.image img{
	width:490px;
}

.no_border{
	border:none !important;
}

.reservation{
	padding:20px 0 20px 20px;
	border-top:1px solid #FFF;
}

.reservation h2{
	font-size:24px;
	display:inline;
}

#lien_reservation_spectacle a{
	color:#a2a2a2;
}

.reservation p{
	font-size:14px;
}

#spectacle_container .reservation a{
	color:#a2a2a2;
	font-family:'IntervalSansPro-Light';
}

.reservation p.grand{
	font-size:18px;
}

.reservation ul{
	padding:10px 0 0 0;
	list-style:none;
}

.reservation ul li a{
	font-size:14px;
}

#video_youtube{
	margin-bottom: 20px;
}

#left_spectacle{
	float:left;
}

#spectacle_content{
	float:right;
}

.reservation a{
	color:#fff;
	text-decoration:underline;
}

/* PAGES
--------------------------------------------------------*/
#jules_list img{
	width:490px;
}

.jules_slider{
	position:absolute;
	top:0;
	left:0;
}

#contents{
	float:left;
	background:#fff;
	color:#000;
	width:490px;
	margin:0;
}

#content_static_container{
	padding:20px;
	font-family: 'IntervalSansPro-Light';
}

#content_static_container h1, #content_static_container h2{
	font-size:24px;
	color:#0099cc;
}

#content_static_container h3{
	color:#0099cc;
}

#left_bottom{
	border-top:1px solid #FFF;
	margin-top:10px;
	overflow:hidden;
}

#left_page_buttons strong{
	font-family: 'IntervalSansPro-Light';
}

#left_page_buttons h2{
	font-family: 'IntervalSansPro-Light';
	font-size:24px;
}

#left_page_buttons a{
	color:#FFF;
	text-decoration:underline;
}

.left_page_btn{
	border-top:1px solid #FFF;
	margin: 0 10px 0 0px;
	padding: 20px 10px 20px 20px;
	font-size: 14px;
}

.no_border{
	border:none;
}

#socials{
	width:414px;
	float:left;
	border-right:1px solid #FFF;
	padding-top: 1px;
	height:32px;
	padding-left:20px;
}

#socials a{
	padding-right:20px;
}

#search_form{
	width:225px;
	float:left;
	padding:5px 0 0 44px;
}

#search_form input{
	background:#000;
	border:1px solid #FFF;
	color:#fff;
	padding:3px;
	width:148px;
	height: 15px;
}

#search_form .submit_btn{
	border:none;
	width: 30px;
	font-size:15px;
	padding: 0;
	height: 18px;
	margin-left: 14px;
	padding-top: 1px;
	cursor:pointer;
}

/*NEWSLETTERS
--------------------------------------------------------*/
.newsletter_date{
	clear:left;
	color:#CC071E;
	float:left;
	padding-top: 2px;
	font-size: 16px;
	font-family: 'IntervalSansPro-Med';
}

#newsletter_form{
	overflow:hidden;
}

.newsletter_title{
	float:left;
	padding-left: 10px;
	padding-top: 2px;
	font-size: 16px;
	font-family: 'IntervalSansPro-Light';
}

.newsletter_subscribe{
	width:100%;
	min-width:300px;
}

.newsletter_subscribe label{
	clear:both;
	display:block;
	float:left;
	width:100px;
	padding-top:10px;
}

.newsletter_subscribe input{
	background: none repeat scroll 0 0 #EEE;
	border: none;
	/*border-radius: 5px 5px 5px 5px;*/
	float: left;
	height: 35px;
	padding: 0 5px;
	width: 200px;
	margin-top:5px;
}

.newsletter_subscribe .submit_btn{
	height: 37px;
	margin-left: 10px;
	padding-right:30px;
	width: 90px !important;
	background:url(../images/small_arrow.png) no-repeat 63px 10px;
	border:none !important;
	cursor:pointer;
}

.newsletter_form{
	padding-left:60px;
	padding-top:60px;
}

#newsletters{
	list-style:none;
	margin-top:40px	;
}

#newsletters li{
	overflow:hidden;
}

/*ESPACES PRO
--------------------------------------------------------*/
#disconect_link{
	display:none;
	position:absolute;
	top:10px;
	right:10px;
}

#dossiers_de_presse, #fiches_techniques{
	list-style:none;
}

#dossiers_de_presse li, #fiches_techniques li{
	overflow:hidden;
	padding-bottom: 10px;
}

.presse_file_link{
	clear:left;
	padding-left: 40px;
	font-size:14px;
}

#pagepro_container{
	padding-top:40px;
}

/*SPECTACLES
--------------------------------------------------------*/
li .spectacle_infos{
	height:267px;
}

li .left_content img{
	width:490px;
}

.spectacle_links a{
	font-size:18px;
	padding-right:50px;t
	font-family:'IntervalSansPro-Med';
}

.spectacle_links{
	padding:20px 0 0 20px;
}

.scroll_to_top{
	float:right;
	padding-right:20px;
}

.calendar_margin{
	margin:0px 20px;
}

#search_sliders .jules_slider img, #nwslt_jules_sliders .jules_slider img, #spacepro_jules_sliders .jules_slider img{
	width:490px;
}

#search_sliders, #nwslt_jules_sliders, ##spacepro_jules_sliders{
	height:390px;
	position:relative;
}

#search_content, #newsletter_content, #spacepro_content{
	width:450px;
	float:left;
	padding:20px;
	background:#fff;
	min-height: 290px;
}

#newsletter_content, #spacepro_content, #search_results{
	color:#000;
}

#search_results{
	list-style:none;
}

.search_form_page{
	padding-bottom:50px;
}

#calendrier_container{
	background:#fff;
	color:#000;
}

#calendrier_container .bottom{
	margin-top:0px;
	padding-top:40px;
	background:#000;
}

.small_title{
	font-family:'IntervalSansPro-Light' !important;
}

#calendrier_spectacles{
	font-size: 12px;
	min-width: 530px;
	padding:0 20px 20px;
	margin: 0;
	color: #000;
	list-style: none;
}

#legende_calendrier{
	height: 30px;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
}
#legende_calendrier div{
	float:left;
	font-size:14px;
	margin-left:3px;
}
#legende_calendrier span{
	padding-top: 2px;
	display: block;
	float: left;
	padding-left: 5px;
}
#legende_calendrier img{
	margin-top:-2px;
	margin-left:5px;
}

#calendrier_spectacles li{
	clear:both;
	overflow:hidden;
	font-family: 'IntervalSansPro-Light';
	border-bottom:1px solid #fdc400;
}

#month_list_for_calendar{
	list-style:none;
	overflow:hidden;
	padding:20px 0 0 0;
}

#month_list_for_calendar li{
	float:left;
	padding-left:20px;
}

#month_list_for_calendar li a{
	font-family: 'IntervalSansPro-Med';
}

#calendrier_spectacles li .calendar_field{
	float:left;
	text-align:center;
	margin-bottom:2px;
	padding-top:6px;
	vertical-align: bottom;
}

.calendar_date{width:7%; text-align:left !important;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;text-transform:uppercase;}
.calendar_heure{width:8%;line-height:17px;font-size:10px;}
.calendar_numero{width:7%;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_spectacle{width:39%;text-align:left !important;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_lieu{width:16%; line-height:17px;font-size:12px !important;}
.calendar_tarif{width:12%; line-height:17px;font-size:12px !important;}
.calendar_extras{width:9%;margin-left:10px;line-height:17px; text-align:right;}
.fat_title{font-family: 'IntervalSansPro-Light' !important}

.calendar_extras img{
	float:right;
	margin-left:5px;
}

.month_name{
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	font-family: 'IntervalSansPro-Med';
	background: #000;
	color: #fdc400;
	padding:5px 0 0 5px !important;
	border:none !important;
	margin:10px 0 5px 0;
}

.des {
	background-color:#4E7D48;
	color:#FFFFFF;
	line-height: 17px;
	display: block;
	float: right;
	margin: -2px 0 0 5px;
	border-radius:10px;
	padding:4px 1px 1px 1px;
}

.calendar_field .des{
	line-height: 11px;
	margin: 0px 0 0 5px;
	border-radius: 8px;
	padding: 4px 2px 1px 3px;
}

.spectacle_for_spectacle_list{
	font-size:12px;
	overflow:hidden;
	height:267px;
	margin-top:20px;
	position:relative;
	z-index:10;
}

.month_name_for_spectacle_list{
	height:auto !important;
	padding-left:25px;
	margin-top:10px;
}

.month_name_for_spectacle_list a{
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	font-family:'IntervalSansPro-Med';
}

.small_padding{
	margin-top:10px !important;
}

#programmation_spectacles .infos_prog{
	padding-top:10px;
	color:#000;
}

#programmation_spectacles .date_infos{
	font-size:16px !important;
}

#programmation_spectacles .spectacle_links{
	position:absolute;
	left:0;
	bottom:10px;
	z-index:11;
}

#programmation_spectacles .tld{
	color:#000 !important;
	padding-top:2px;
}

#programmation_spectacles li .top_spectacle{
	padding-top:0px;
}

#calendrier_content{
	background:#FFF;
	color:#000;
}

#calendrier_jules_sliders{
	position:relative;
	height: 320px;
}

#programmation_spectacles, #month_list{
	list-style:none;
	clear:both;
}

#month_list{
	padding-left: 25px;
	padding-bottom: 35px;
	overflow: hidden;
}

#month_list li{
	float:left;
	font-family:'IntervalSansPro-Med';
	padding-right:26px;
}

#month_list li a{
	color:#FFF;
}

/*HOME
--------------------------------------------------------*/
.home_item{
	overflow:hidden;
	clear:both;
}

#home_container .spectacle_infos{
	background:#000;
	color:#FFF;
	border-bottom:1px solid #fff;
	height:100%;
	min-height:100%;
	position:relative;
	z-index:10;
}

#home_item .top_spectacle strong{
	color:#fff;
}

#home_container .spectacle_infos .spectacle_links a{
	color:#FFF;
	font-family:'IntervalSansPro-Light';
}

#home_container .spectacle_infos .spectacle_links a:hover{
	color:#999;
}

#home_container .left_content{
	border-bottom:1px solid #000;
}

#home_container .spectacle_infos{
	color:#fff !important;
}

.home_item .genre_age{
	color:#ffcc00;
}

.home_item .genre_age span{
	background:url(../images/yellow_disc.png) no-repeat top left;
	padding-left:17px;
	font-size:16px;
}

.home_item .date_infos{
	padding-left:19px;
	background:url(../images/white_star.png) no-repeat -2px -2px;
	color:#FFF;
	font-size:16px !important;
}

.home_item .tld{
	color:#fff;
}

#home_container .spectacle_infos h1{
	color:#fff;
	font-size:20px;
}

#home_container .first_home .spectacle_infos h1{
	font-size:30px;
}

.home_item .numero{
	font-size:50px;
	right:15px;
}

.first_home .numero{
	font-size:60px;
	top:14px;
	right:22px;
}

.first_home .top_spectacle{
	padding-top:16px !important;
}

.first_home .tld{
	font-size:14px !important;
	padding-top:16px !important;
}

.first_home .actu_block{
	padding-top:20px !important;
	color:#FFF;
	font-size:14px !important;
}

.first_home .actu_block p{
	padding-bottom:4px;
}

.home_item .actu_block{
	color:#fff;
	font-size:11px;
}

.home_item .top_spectacle{
	padding:0 20px;
	font-size:14px;
}

.home_item .tld{
	padding-top:5px;
	font-size:11px;
}

.home_item .tld p{
	padding-top:2px;
}

.spectacle_list_numero{
	float:left;
	width:30px;
}

.spectacle_list_title{
	float:left;
	width:400px;
}

.home_item .spectacle_links{
	position:absolute;
	left:0px;
	bottom:10px;
	z-index:11;
}

.first_home .spectacle_links{
	bottom:20px !important;
} 

.first_home .spectacle_links a{
	font-size:18px !important;
}

.home_item .spectacle_links a{
	font-size:16px;
}

/*MENU
--------------------------------------------------------*/
header{
	width:980px;
	margin:20px 0 65px 0;
	overflow:hidden;
}

header #navigation{
	float:left;
	max-width:730px;
	list-style:none;
	position: relative;
	margin-left:5px;
	z-index:10;
}

#navigation li{
	margin: 38px 20px 0 0;
	padding-bottom: 33px;
	cursor: pointer;
	float:left;
}

#navigation li ul{
	display:none;
	list-style: none;
	position: absolute;
	width: 700px;
	left: 0;
	top: 60px;
	z-index:11;
}

#navigation li ul .link{
	float:left;
	margin:5px 20px 0 0 ;
}

#navigation li ul .link a{
	color:#a2a2a2;
}

#navigation li ul .link a.on, #navigation li ul .link a:hover{
	color:#fff;
}

#navigation li .menu_title.on{
	color:#FFF;
}

.menu_title:hover{
	color:#FFF;
}

header #logo{
	width:250px;
	float:right;
}

.menu_title{
	font-size:15px;
	font-family:"IntervalSansPro-Light";
	color: #FDC400;
}

/*FOOTER
--------------------------------------------------------*/

footer{
	width:980px;
	text-align:center;
	margin:78px 0;
}

footer a{
	color:#999999 !important;
	font-size:14px;
	font-family:"IntervalSansPro-Light";
	padding-right: 20px;
}


#ftf_link{
	display:none;
}

#search_results li{ overflow:hidden;}
.search_form {margin-bottom:20px;}
/*.fat{font-family:IntervalSansPro-Med;color:#444;}*/

.search_form input{
	width:150px;
}

.search_form_page .submit_btn{
	border: 1px solid #747474;	
	color: #FDC400;
	background: #000;
	padding: 2px 10px;
	margin-left:5px;
}

#next_show, #prev_show{
	color:#1285bc;
	padding:2px;
}

#next_show_caption, #prev_show_caption{
	position:absolute;
	display:none;
	border:1px solid #434343;
	background:#000;
	top:0px;
	right:95px;
	padding:15px;
	color:#eee;
	z-index:9999;
}

#next_show_infos, #prev_show_infos{
	overflow:hidden;
}

#next_show_infos p, #prev_show_infos p{
	clear:both;
}

#next_show_infos .date_infos, #prev_show_infos .date_infos{
	color:#fff;
	background: url(../images/white_star.png) no-repeat -3px -2px;
	float:right;
}

#prev_show_number, #next_show_number{
	font-size:40px;
}
#prev_show_title span, #next_show_title span{
	font-weight:bold;
}


@media only screen and (max-width: 767px) {

	body{
		overflow:visible;
	}
	
	.tinynav{display:block;}
	#navigation{display:none;}
	
	#growl_messages{
		left:10px !important;
	}
	
	#wrapper, header, .content_wrapper, .left_content, .spectacle_infos, footer,
	li .left_content img, #spectacle_container, .image img,
	#search_content, #newsletter_content, #spacepro_content, #contents{
		width:300px;
	}
	
	header #logo, .tinynav{
		width:250px;
		margin:0 auto 20px auto;
		float:none;
	}
	
	.spectacle_infos .spectacle_links a{
		display:block;
	}
	
	.spectacle_infos{
		padding-bottom:10px;
	}
	
	li .spectacle_infos{
		height:auto;
	}
	
	.spectacle_infos h1{
		padding-left:0;
		width:230px;
	}
	
	.numero{
		font-size:30px !important;
		padding-right:0;
		width:40px;
	}
	
	.top_spectacle{
		padding:0;
	}
	
	.home_item .top_spectacle{
		padding:16px 0 65px 0;
	}
	
	#programmation_spectacles .left_content{
		height:200px;
	}
	
	#programmation_spectacles .spectacle_infos{
		padding:0 5px;
		width:290px;
	}
	
	#programmation_spectacles li{
		height:auto;
	}
	
	.images_slider{
		height:220px;
	}
	
	.spectacle_infos{
		padding:0 5px;
		width:290px;
	}
	
	.presentation{
		padding:20px 0;
	}
	
	#socials{
		width: 200px;
		padding-top: 1px;
		height: 32px;
		margin: 0 auto;
		border-right:none;
		float:none;
	}
	
	#search_form {
		width: 225px;
		padding: 15px 0 0 0;
		margin: 0 auto;
		float:none;
	}
	
	#spectacle_container .left_content{
		float:right;
	}
	#spectacle_container #spectacle_contnet{
		float:left;
	}
	
	#search_content, #newsletter_content, #spacepro_content{
		padding:5px;
	}
		
	.newsletter_subscribe input {
		width:280px;
	}	
		
	.month_name_for_calendar{
		height:25px !important;
		width:100% !important;
	}
	
	.month_name_for_calendar p{
		writing-mode: lr-tb !important;
		-webkit-transform: rotate(0deg) !important;	
		-moz-transform: rotate(0deg) !important;
		-ms-transform: rotate(0deg) !important;
		-o-transform: rotate(0deg) !important;
		transform: rotate(0deg) !important;
		position:static !important;
		text-align:center !important;
		width:100% !important;
	}
	.numero_title{
		text-align:right !important;
	}
	.spectacle_list_title {
		width: 200px;
		word-wrap: break-word;
	}
	#programmation_spectacles{
		width:300px !important;
	}
	
	#informations_pratiques{
		margin-left:18px !important;
	}
	#close_menu{
		display:none !important;
	}
	
	#presentation, .numero{
		right: 15px;
		top: 18px;
	}
	
	#programmation_spectacles .spectacle_links{
		bottom:5px;
	}
	
	#programmation_spectacles li .top_spectacle{
		padding-bottom:70px;
	}
	
	.overview h1{
		display:block !important;
		word-wrap: break-word;
	}
	#legende_calendrier, #calendrier_spectacles, #calendrier_content {
		min-width:0px !important;
	}
	#calendrier_spectacles li{
		border-bottom: 1px solid #FDC400;
		margin-right: 12%;
	}
	#calendrier_spectacles li .calendar_field {
		text-align:left !important;
		border:none !important;
	}
	.calendar_spectacle {width:63%}
	.calendar_lieu {clear:both; padding-right: 5px; width:37% !important;}
	.calendar_tarif {padding-right: 5px; width:auto !important;}
	.calendar_date {width:73% !important;}
	.calendar_heure {width:19% !important;}
	.calendar_extras {width:29% !important;}
	.month_name{padding-top:30px !important;}
	
	.search_form input{
		width:250px !important;
	}
	
	.infobulle_lieu{
		color:#fff !important;
	}
}