/*@font-face {
    font-family: 'CabinRegular';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {font-family: 'IntervalSansPro-UltLight';src: url('/theme/fonts/2317AB_0_0.eot');src: url('/theme/fonts/2317AB_0_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_0_0.woff') format('woff'),url('/theme/fonts/2317AB_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'IntervalSansPro-Med';src: url('/theme/fonts/2317AB_1_0.eot');src: url('/theme/fonts/2317AB_1_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_1_0.woff') format('woff'),url('/theme/fonts/2317AB_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'IntervalSansPro-Light';src: url('/theme/fonts/2317AB_2_0.eot');src: url('/theme/fonts/2317AB_2_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_2_0.woff') format('woff'),url('/theme/fonts/2317AB_2_0.ttf') format('truetype');}


*{
	margin:0;
	padding:0;
}

a, a:visited{
	color:#000;
	text-decoration:none;
}

.presentation a, .presentation a:visited, #content_static_container a, #content_static_container a:visited{
	text-decoration:underline;
}

.presentation a:hover, #content_static_container a:hover{
	color:#1285bc !important;
}

img{
	border:none;
}

html{
	background:#000;
	color:#FFF;
}

body{
	width:100%;
	height:100%;
	overflow:hidden;
	min-width:980px;
	font-family: 'IntervalSansPro-UltLight';
}

@media screen and (max-width: 640px){
	body{
		width:100%;
		min-width:100% !important;
		overflow:visible;
	}
	
	#growl_messages{
		left:10px !important;
	}
	
	#intro {
		position:static !important;
	}
	#nav_intro li {
		margin-top:5px;
	}
	
	#spectacle_slider{
		background:#000;
		overflow:hidden  !important;
		position:static !important;
		height:auto  !important;
	}	
	
	#programmation_container, #calendrier_container, #newsletter_containers, #spacepro_containers, #search_container {
		position:static !important;
	}
	#pages, #spectacle_container{
		position:static !important;
		padding-bottom:0 !important;
	}
	
	#spectacle_slider ul {
		position:static !important;
		overflow:hidden;
	}
	#spectacle_slider ul li{
		float:none !important;
		clear:both;
		overflow:hidden;
		margin:5px 0 !important;
	}
	#spectacle_slider ul li a{
		float:left;
		overflow:hidden;
	}
	#spectacles_titles {
		display:none;
	}
	#spectacle_slider ul li .tool_tip_title {
		position:static !important;
		float:right !important;
		height: auto;
		width: 180px;
		text-align: right;
		padding-right: 10px;
	}
	
	#spectacle_slider ul li div{
		position:static !important;
	}
	.month_name_for_calendar{
		height:25px !important;
		width:100% !important;
	}
	#spectacle_slider ul li.month_name_for_calendar a{
		float:none !important;
	}
	.month_name_for_calendar p{
		writing-mode: lr-tb !important;
		-webkit-transform: rotate(0deg) !important;	
		-moz-transform: rotate(0deg) !important;
		-ms-transform: rotate(0deg) !important;
		-o-transform: rotate(0deg) !important;
		transform: rotate(0deg) !important;
		position:static !important;
		text-align:center !important;
		width:100% !important;
	}
	.numero_title{
		text-align:right !important;
	}
	#programmation_spectacles li a, #programmation_spectacles li a:visited {
		display:inline !important;
	}
	.spectacle_list_title {
		width: 200px;
		word-wrap: break-word;
	}
	#programmation_spectacles{
		width:280px !important;
		margin:0 10px !important;
	}
	#menu {
		position:static !important;
	}
	#menu_ul {
		padding: 20px 0 10px !important;
		width: 330px !important;
	}
	#informations_pratiques{
		margin-left:18px !important;
	}
	#close_menu{
		display:none !important;
	}
	
	#presentation, .numero{
		position:static !important;
		overflow:hidden;
	}
	.overview h1{
		display:block !important;
		word-wrap: break-word;
	}
	#legende_calendrier, #calendrier_spectacles, #calendrier_content {
		min-width:0px !important;
	}
	#calendrier_spectacles li{
		border-bottom: 1px solid #FDC400;
		margin-right: 12%;
	}
	#calendrier_spectacles li .calendar_field {
		text-align:left !important;
		border:none !important;
	}
	.calendar_spectacle {width:63%}
	.calendar_lieu {clear:both; padding-right: 5px; width:auto !important;}
	.calendar_tarif {padding-right: 5px; width:auto !important;}
	.calendar_date {width:14% !important;}
	.calendar_heure {width:19% !important;}
	.calendar_extras {width:15% !important;}
	.month_name{padding-top:30px !important;}
	
	.search_form input{
		width:250px !important;
	}
	
	.infobulle_lieu, .{
		color:#fff !important;
	}
}

/* MESSAGING
--------------------------------------------------------*/

#growl_messages{
	position:absolute;
	top:0px;
	left:90px;
	padding:5px;
	padding-left:60px;
	z-index:8000;
	text-align:center;
	background:url('../images/mouette.gif') no-repeat 0 5px;
	font-family: 'IntervalSansPro-Light';
	color:#FDC400;
	margin-top:-200px;
	min-height:30px;
}

/* TEST SCROLLING
--------------------------------------------------------*/
.viewport { 
	overflow: hidden; 
	position: relative; 
	top:10px;
}

.overview { 
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0;
	margin:0px 60px; 
}

@media only screen and (max-width: 640px) {
	.overview{
		margin:0px 10px;
	}
} 

.scrollbar{ 
	position: relative;
	float: right; 
	width: 2px; 
	margin:5px 5px 0 0;
}	
	
.track{ 
	background: #ccc; 
	border-radius: 2px 2px 2px 2px;
	height: 100%; 
	width:3px; 
	position: relative; 
}
.thumb { 
	background: #1285bc; 
	height: 20px; 
	width: 3px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: 0px; 
}

.disable { display: none; }


/* SPECTACLE
--------------------------------------------------------*/
.overview h1{
	padding-top:20px;
	font-family: 'IntervalSansPro-Light';
}

.overview h1 span{
	font-family: 'IntervalSansPro-UltLight';
	color:#999;
}

#images_spectacle{
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
#spectacle_content{
	background:#fff;
	/*letter-spacing:-0.8px;*/
	font-size:14px;
	position:absolute;
	top:0;
	right:0;
	color:#000;
	font-family: 'IntervalSansPro-Light';
}
#spectacles_sliders h2{ 
	background:#fff;
	color:#000;
	font-size:40px;
	display:block;
	width:100px;
	float:left;
}

#spectacles_sliders h1{
	font-size:30px;
}

.top_spectacle{
	position:relative;
	overflow:hidden;
	padding-top:30px;
}

.tld{
	width:300px;
	color:#999;
}

.tld strong{
	font-style:normal !important;
	font-family: 'IntervalSansPro-Light';
	color:#000 !important;
}

.numero{
	position:absolute;
	top:80px;
	right:0px;
	font-size:60px;
	font-weight:bold;
}

.presentation{
	padding-top:30px;
	padding-bottom:50px;
	font-family: 'IntervalSansPro-Light';
	font-size:14px;
}

.presentation span{
	color:#999;
}

#spectacle_container{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	display:none;
	z-index:1000;
}

#presentation{
	position:relative;
	z-index:300;
}

.image{
	position:absolute;
	height:100%;
	width:50%;
	top:0;
	left:0;
}

/* PAGES
--------------------------------------------------------*/
#pages{
	position:absolute;
	left:0;
	top:0;
	display:none;
	z-index:2000;
	width:100%;
	height:100%;
	padding-bottom:50px;
}

#jules_list{
	left:0;
}
#contents{
	right:0;
	background:#fff;
	color:#000;
}

#contents, #jules_list{
	position:absolute;
}

#content_static_container{
	padding:10px 20px 10px;
	font-family: 'IntervalSansPro-Light';
}
/* MENU
--------------------------------------------------------*/

#menu_important{
	position:absolute;
	top:0;left:300px;
	z-index:10010;
	display:block;
	height: 24px;
	padding-top:2px;
}

#menu_important a{
	color:#FDC400;
}

#menu_important ul{
	list-style:none;
	padding-top:3px;
}

#menu_important ul li{
	position:relative;
	float: left;
	padding-right:9px;
	font-family:'IntervalSansPro-Light';
	padding-left:6px;
}

#menu_important ul li ul{
	position: absolute;
	top: 20px;
	min-width:200px;
	z-index: 10000;
	left: 0px;
	padding:5px;
	background: black;
	border: 1px solid #424242;
	display:none;
}

#menu_important ul li ul li{
	padding:0 !important;
	float:none !important;
}

#menu_important ul li ul li label{
	clear:both;
	display:block;
	float:left;
	width:100px;
	padding-top:10px;
}

#menu_important ul li ul li form{
	overflow: hidden;
	width: 264px;
	min-width: 264px !important;
}

#menu_important ul li img{
	margin-top:-5px;
}

#menu_important ul li ul li input{
	float:left;
	display:block;
	margin-top:5px;
	width:150px;
	background: none repeat scroll 0 0 #EEE;
	border: none;
	height: 35px;
	padding: 0 5px;
}

#menu_important ul li ul li .submit_btn{
	color:#FFF;
	margin-left: -3px;
	width: 100px !important;
	background: url(../images/small_arrow.png) no-repeat 73px 11px;
	font-size: 14px;
	font-weight: bold;
	border:none !important;
	height: 37px;
	padding-right:30px;
}

#menu_command{
	background: #FFF;
	border-radius: 0 0 3px 3px;
	height: 24px;
	position:absolute;
	top:0;left:20px;
	z-index:8000;
	display:none;
}

#menu_command a{
	padding:3px 21px 3px 6px;
	display:block;
	position:relative;
	font-size:14px;
}

#menu_command a img{
	top: 4px;
	position: absolute;
	right: 5px;
}

#logo_menu{
	width:250px;
	position:absolute;
	top:10px;
	right:0px;
	z-index:0;
	display:none;
	opacity:1;
}
#logo, #menu_title{
	background:#000;
	text-align:center;
}

#menu{
	background:rgba(0,0,0,0.8);
	position:absolute;
	top:-2000px;
	z-index:6000;
	font-size:12px;
	letter-spacing:-0.5;
	font-weight:100;
	width:100%;
}

#menu ul{
	padding:20px 30px 10px;
	display:block;
	overflow:hidden;
}

#menu_ul{
	margin-top:50px;
	width:500px;
	float:left;
}

#menu_ul li ul{
	padding:0 !important;
}

#menu ul a{
	color:#FFF !important;
	font-family: 'IntervalSansPro-Light';
	font-size:14px;
}

#menu ul a:hover{
	color:#AAA !important;
}

#other_menu{
	padding:10px 50px;
	background:#333;
	clear:both;
	width:100%;
	margin-top:25px;
}

#menu li ul li{
	float:none;
	margin:0 !important;
}

#menu li{
	display:block !important;
	/*float:left;*/
	margin-left: 18px;
	margin-bottom:15px;
}

.menu_title{
	/*font-family: 'AvenirLT-Heavy';*/
  color: #FDC400 !important;
  font-size: 14px;
  text-transform: uppercase;
	font-family: 'IntervalSansPro-Med';
}

li.first .menu_title{
	color:#fff !important;
}

.fat_menu{
	background: none repeat scroll 0 0 #111111;
	border:1px solid #CCC;
	display: none !important;
	left: 200px;
	position: absolute;
	top: 160px;
	width: 400px;
	padding:10px;
}

.fat_menu li{
	float:left;
	width:180px;
}

#close_menu{
	position:absolute;
	display:block;
	top:10px;
	right:50px;
}

#informations_pratiques{
	margin-top:70px;
	margin-left:48px;
	float:left;
}
#informations_pratiques div{
	padding-left:40px;
	background:url('../images/arrow.png') no-repeat 0 0;
	margin-bottom:10px;
}

#informations_pratiques a, #informations_pratiques a:visited, #informations_pratiques div{
	color:#FDC400;
	font-size:24px;
	font-family: 'IntervalSansPro-Med';
}

.billetterie{
	background:none !important;
	color:#FFF !important;
}

.search_form{
	background:none !important;
}

.search_form .submit_btn{
	border: 1px solid #747474;
	color:#FDC400;
	background:#000;
	padding:2px 10px;
}
.search_form .submit_btn:hover{
	cursor:hand;
}

/*SPECTACLES_NAV
--------------------------------------------------------*/

#spectacle_slider{
	position:absolute;
	bottom:0;
	z-index:10000;
	height:180px;
	width:100%;bottom:-165px;
	background:#000;	
}

#spectacle_slider ul{
	list-style:none;
	position:absolute;
	top:0;
	left:0;
}
#spectacle_slider ul li{
	float:left;
	display:block;
	position:relative;
	margin:5px 0 5px 5px;
}
#spectacle_slider ul li div{
	position:absolute;
	top:-100px;
	left:0;
}

#spectacles_titles .tool_tip_title{
	position:absolute;
	background:#000;
	border:1px solid #434343;
	padding:10px;
	left:0;
	font-weight:bold;
	color:#EEE;
	font-size:12px;
	display:none;
	bottom:25px;
	font-family: 'IntervalSansPro-Med';
}

.numero_title{
	font-size:40px;
	text-align:center;
	padding-bottom:15px;
}

.infobulle{
	padding-top:5px;
	font-family: 'IntervalSansPro-Light';
	color:#AAA;
}
.infobulle_title{
	font-size:16px;
}

.infobulle_lieu{
	color:#AAA;
}

#spectacles_titles div .tltp_arrow{
	background: url("../images/tooltip_arr.png") no-repeat scroll 0 0 transparent;
	bottom: -10px;
	display: block;
	height: 10px;
	left: 50%;
	margin-left: -8px;
	position: absolute;
	width:17px;
}

#spectacles_titles div span{
	font-weight:bold;
}

#spectacles_titles{
	position:absolute;
	left:0;
	top:0;
}

.month_name_for_calendar{
	background: none repeat scroll 0 0 #333333;
	color: #CCCCCC;
	font-weight: bold;
	height: 165px;
	letter-spacing: -0.8px;
	padding-top: 5px;
	text-align: center;
	width: 40px;
}
.month_name_for_calendar p a{
	color:#FFF !important;
}

.month_name_for_calendar p{
	writing-mode: bt-lr;
	-webkit-transform: rotate(-90deg);	
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-size: 20px;
	display: block;
	width: 100px;
	position: absolute;
	top: 50px;
	left: -31px;
	text-align: right;
}


/*NEWSLETTERS
--------------------------------------------------------*/
.newsletter_date{
	clear:left;
	color:#CC071E;
	float:left;
	padding-top: 2px;
	font-size: 16px;
	font-family: 'IntervalSansPro-Med';
}
#newsletter_form{
	overflow:hidden;
}
.newsletter_title{
	float:left;
	padding-left: 10px;
	padding-top: 2px;
	font-size: 16px;
	font-family: 'IntervalSansPro-Light';
}

.newsletter_subscribe{
	width:100%;
	min-width:300px;
}

.newsletter_subscribe label{
	clear:both;
	display:block;
	float:left;
	width:100px;
	padding-top:10px;
}

.newsletter_subscribe input{
	background: none repeat scroll 0 0 #EEE;
	border: none;
	/*border-radius: 5px 5px 5px 5px;*/
	float: left;
	height: 35px;
	padding: 0 5px;
	width: 200px;
	margin-top:5px;
}
.newsletter_subscribe .submit_btn{
	height: 37px;
	margin-left: 10px;
	padding-right:30px;
	width: 90px !important;
	background:url(../images/small_arrow.png) no-repeat 63px 10px;
	border:none !important;
}
.newsletter_form{
	padding-left:60px;
	padding-top:60px;
}
#newsletters{
	list-style:none;
	margin-top:40px	;
}
#newsletters li{
	overflow:hidden;
}

/*ESPACES PRO
--------------------------------------------------------*/
#disconect_link{
	display:none;
	position:absolute;
	top:10px;
	right:10px;
}
#dossiers_de_presse, #fiches_techniques{
	list-style:none;
}
#dossiers_de_presse li, #fiches_techniques li{
	overflow:hidden;
	padding-bottom: 10px;
}
.presse_file_link{
	clear:left;
	padding-left: 40px;
	font-size:14px;
}
#pagepro_container{
	padding-top:40px;
}

/*SPECTACLES
--------------------------------------------------------*/
#jules_sliders, #nwslt_jules_sliders, #spacepro_jules_sliders{
	position:absolute;
	top:0;
	left:0;
}

.calendar_margin{
	margin:0px 20px;
}

.jules_slider{
	position:absolute;
}

#programmation_container, #calendrier_container, #newsletter_containers, #spacepro_containers, #search_container{
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	display:none;
	z-index:1000;
}

#programmation_content, #calendrier_content, #newsletter_content, #spacepro_content, #search_content{
	position:absolute;
	top:0;
	right:0;
	background:#fff;
	color:#000;
}

#calendrier_content{
	left:0;
	z-index:5000;
	min-width:530px;
}

#programmation_spectacles, #calendrier_spectacles{
	padding:10px;
}

#calendrier_spectacles{
	font-size:11px;
	min-width:530px;
	width:95%;
	padding-bottom:60px;
	margin-top:40px;
}

#legende_calendrier{
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	padding-top: 2px;
	padding-left: 27px;
	background: 
	white;
	z-index: 5000;
}
#legende_calendrier div{
	float:left;
	font-size:10px;
	margin-left:3px;
}
#legende_calendrier span{
	padding-top:3px;
}
#legende_calendrier img{
	margin-top:-2px;
}

#calendrier_spectacles li{
	clear:both;
	overflow:hidden;
	padding-top:2px;
	font-family: 'IntervalSansPro-Light';
}

#calendrier_spectacles li .calendar_field{
	float:left;
	text-align:center;
	border-bottom:1px solid #fdc400;
	margin-bottom:2px;
	padding-bottom:1px;
	vertical-align: bottom;
}

.calendar_date{width:7%; text-align:left !important;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_heure{width:8%;line-height:17px;font-size:10px;}
.calendar_numero{width:7%;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_spectacle{width:39%;text-align:left !important;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_lieu{width:16%; line-height:17px;font-size:10px !important;}
.calendar_tarif{width:12%; line-height:17px;font-size:10px !important;}
.calendar_extras{width:8%; border:none !important;margin-left:10px;line-height:17px;}


.month_name{
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:10px !important;
	border-bottom:1px solid #fdc400;
	margin-right:12%;
	font-family: 'IntervalSansPro-Med';
}

.green_line, .green_line a{color:green !important;}
.red_line, .red_line a{color:red !important;}

.des {
	background-color:#08618D;
	color:#FFFFFF;
	padding-bottom: 0;
	line-height: 8px;
	padding-top: 5px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 5px;
}

.audiodescription, .lsf{
	background-color:#000000;
	color:#FFFFFF;
	padding-bottom: 0;
	line-height: 8px;
	padding-top: 5px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 5px;
}

#programmation_spectacles li{
	font-size:12px;
	padding:5px 0 0;
	overflow:hidden;
}

.spectacle_list_numero, .spectacle_list_title{
	float:left;
}

.headline{
	clear:both;
	font-family: 'IntervalSansPro-Light';
	padding-left:30px;
	font-size:14px;
	padding-bottom:5px;
}

.spectacle_list_numero{
	font-size:14px;
	color:#cc071e;
	padding-top:1px;
}

.spectacle_list_title{
	padding-left:10px;
	padding-top:2px;
	font-size:16px;
	font-family: 'IntervalSansPro-Light';
}

.opening{
	font-size:24px !important;
	padding-bottom:20px !important;
	padding-top:60px !important;
	font-weight:normal !important;
}

.spectacle_list_title span{
	font-family:'IntervalSansPro-UltLight';
	color:#666;
}

#programmation_spectacles li a, #programmation_spectacles li a:visited{
	color:#000;
	display:block;
	height:22px;
}

/*#programmation_spectacles li span{
	font-size:20px;
	font-weight:bold;
	/*font-family: 'KozMinPro-Heavy-AlphaNum';
}*/

#calendrier_jules_sliders{
	position:absolute;
	top:0;right:0;
	z-index:4000;
}


/*INTRO
--------------------------------------------------------*/
#texte_intro{
	position:absolute;
	width:350px;
	left:100px;
	top:200px;
	z-index:500;
	text-shadow:0px 4px 3px rgba(0,0,0,0.4),
	            0px 8px 13px rgba(0,0,0,0.1),
	            0px 18px 23px rgba(0,0,0,0.1);;
}

#texte_intro p{
	background:rgba(0,0,0,0.7);
	border:1px solid #888888;
	padding:5px;
}

#main_pic_intro{
	width:100%;
	height:100%;
}

#image_intro{
	position:absolute;
	top:0;
	left:0;
	z-index:300;
}

#intro{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	display:none;
}

#nav_intro{
	list-style:none;
	background:transparent;
	padding:4px;
	overflow:hidden;
	position:absolute;
	bottom:20px;
	left:50px;
	z-index:600;
}

#nav_intro li{
	display:block;
	float:left;
	margin-right:7px;
	background:#000;
	border:1px solid #767676;
}

#nav_intro li a, #nav_intro li a:visited{
	display:block;
	font-size: 12px;
	padding: 6px 20px 3px;
	color:#fff;
	font-family:IntervalSansPro-Med;
}

#nav_intro li h2{
	font-size:12px;
	padding:2;
}

#nav_intro li img{
	float:left;
}

.intro_li_text{
	float:left;
	display:block;
	width:130px;
	padding:2px;
}

.intro_li_text a, .intro_li_text a:hover{
	color:#FFF;
}

#nav_intro li.last{
	margin-right:0;
}

#logo_intro img{
	position:absolute;
	height:auto;
}

#logo_intro{
	width:100%;
	height:100%;
	display:block;
}

#ftf_link{
	display:none;
}

#search_results li{ overflow:hidden;}
.search_form {margin-bottom:20px;}
.fat{font-family:IntervalSansPro-Med;color:#444;}

.search_form input{
	width:150px;
}

#inter_spectacle_navigation{
	text-align:right;
	padding-top:2px;
	position:relative;
}

#next_show, #prev_show{
	color:#1285bc;
	padding:2px;
}

#next_show_caption, #prev_show_caption{
	position:absolute;
	display:none;
	border:1px solid #434343;
	background:#000;
	top:0px;
	right:50px;
	padding:15px;
	color:#eee;
	z-index:9999;
}
#prev_show_number, #next_show_number{
	font-size:40px;
}
#prev_show_title span, #next_show_title span{
	font-weight:bold;
}
