@font-face {font-family: 'IntervalSansPro-UltLight';src: url('/theme/fonts/2317AB_0_0.eot');src: url('/theme/fonts/2317AB_0_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_0_0.woff') format('woff'),url('/theme/fonts/2317AB_0_0.ttf') format('truetype');} 
  
@font-face {font-family: 'IntervalSansPro-Med';src: url('/theme/fonts/2317AB_1_0.eot');src: url('/theme/fonts/2317AB_1_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_1_0.woff') format('woff'),url('/theme/fonts/2317AB_1_0.ttf') format('truetype');}
  
@font-face {font-family: 'IntervalSansPro-Light';src: url('/theme/fonts/2317AB_2_0.eot');src: url('/theme/fonts/2317AB_2_0.eot?#iefix') format('embedded-opentype'),url('/theme/fonts/2317AB_2_0.woff') format('woff'),url('/theme/fonts/2317AB_2_0.ttf') format('truetype');}

*{
	margin:0;
	padding:0;
}

a, a:visited{
	color:#000;
	text-decoration:none;
}

.presentation a, .presentation a:visited, #content_static_container a, #content_static_container a:visited{
	text-decoration:underline;
}

.presentation a:hover, #content_static_container a:hover{
	color:#1285bc !important;
}

img{
	border:none;
}

html{
	background:#000;
	color:#FFF;
}

body{
	font-family: 'IntervalSansPro-UltLight';
}

/* MESSAGING
--------------------------------------------------------*/

#growl_messages{
	position:absolute;
	top:0px;
	left:90px;
	padding:5px;
	padding-left:60px;
	z-index:8000;
	text-align:center;
	background:url('../images/mouette.gif') no-repeat 0 5px;
	font-family: 'IntervalSansPro-Light';
	color:#FDC400;
	margin-top:-200px;
	min-height:30px;
}

.disable { display: none; }

/* GENERAL
--------------------------------------------------------*/

.content_wrapper{
	display:none;
	width:980px;
	overflow:hidden;
}

.left_content{
	float:left;
	width:490px;
	margin:0;
}

#wrapper{
	width: 980px;
	height: 100%;
	overflow: auto;
	margin: 0 auto;
}

/* SPECTACLE
--------------------------------------------------------*/
.spectacle_infos h1{
	padding:20px 0 0 20px;
	font-family: 'IntervalSansPro-Light';
	width:365px;
	float:left;
	color:#666666;
}

.spectacle_infos h1 span{
	font-family: 'IntervalSansPro-UltLight';
	color:#999;
}

#inter_spectacle_navigation{
	text-align:right;
	padding:20px 20px 0 0 ; 
	position:relative;
}

.spectacle_infos{
	background:#fff;
	font-size:14px;
	color:#000;
	font-family: 'IntervalSansPro-Light';
	float: left;
	width: 490px;
}

#spectacles_sliders h2{ 
	background:#fff;
	color:#000;
	font-size:40px;
	display:block;
	width:100px;
	float:left;
}

.top_spectacle{
	overflow:hidden;
	padding:30px 20px 0 20px;
	clear:both;
	color:#999;
}

.genre_age{
	color:#0099cc;
	font-family:'IntervalSansPro-Med';
	font-size:16px;
}

.genre_age span{
	padding-left:15px;
	background:url(../images/blue_disc.png) no-repeat top left;
}

.date_infos{
	padding-left:15px;
	background:url(../images/disc_star.png) no-repeat 0px -1px;
	color:#000;
}

.tld{
	padding-top:20px;
	color:#666;
}

.top_spectacle strong{
	font-style:normal !important;
	font-family: 'IntervalSansPro-Light';
	color:#000 !important;
}

.numero{
	width:75px;
	float:right;
	font-size:60px;
	font-weight:bold;
	padding:8px 22px 0 0;
}

.presentation{
	padding: 30px 20px 50px 20px;
	font-family: 'IntervalSansPro-Light';
	font-size:14px;
	color:#000;
}

.presentation p{
	margin-bottom:30px;
}

.presentation span{
	color:#999;
}

#spectacle_container{
	width:980px;
	overflow:hidden;
	display:none;
}

.images_slider{
	position:relative;
	height:320px;
}

.image{
	position:absolute;
	top:0;
	left:0;
}

.image img{
	width:490px;
}

.no_border{
	border:none !important;
}

.reservation{
	padding:20px 0 20px 20px;
	border-top:1px solid #FFF;
}

.reservation h2{
	border-bottom:1px solid #FFF;
	font-size:24px;
	display:inline;
}

.reservation p{
	font-size:18px;
}

.reservation ul{
	padding:10px 0 0 0;
	list-style:none;
}

.reservation ul li a{
	font-size:14px;
	color:#fff;
}

#lien_reservation_spectacle a{
	color:#fff;
}

#video_youtube{
	margin-bottom: 20px;
}

/* PAGES
--------------------------------------------------------*/
#jules_list img{
	width:490px;
}

.jules_slider{
	position:absolute;
	top:0;
	left:0;
}

#contents{
	float:left;
	background:#fff;
	color:#000;
	width:490px;
	margin:0;
}

#content_static_container{
	padding:20px;
	font-family: 'IntervalSansPro-Light';
}

#content_static_container h1, #content_static_container h2{
	font-size:24px;
	color:#0099cc;
}

#content_static_container h3{
	color:#0099cc;
}

#left_bottom{
	border-top:1px solid #FFF;
	padding:20px 0;
	margin-top:10px;
	overflow:hidden;
}

#left_page_buttons{
	padding:20px 0;
	margin:0 10px 0 20px;
}

#left_page_buttons h2{
	font-family: 'IntervalSansPro-Light';
	font-size:24px;
}

#socials{
	width:200px;
	float:left;
	border-right:1px solid #FFF;
	padding-top: 1px;
	height:32px;
	padding-left:20px;
}

#socials a{
	padding-right:20px;
}

#search_form{
	width:225px;
	float:left;
	padding:5px 0 0 44px;
}

#search_form input{
	background:#000;
	border:1px solid #FFF;
	color:#fff;
	padding:3px;
	width:148px;
	height: 15px;
}

#search_form .submit_btn{
	border:none;
	width: 30px;
	font-size:15px;
	padding: 0;
	height: 18px;
	margin-left: 14px;
	padding-top: 1px;
	cursor:pointer;
}

/*NEWSLETTERS
--------------------------------------------------------*/
.newsletter_date{
	clear:left;
	color:#CC071E;
	float:left;
	padding-top: 2px;
	font-size: 16px;
	font-family: 'IntervalSansPro-Med';
}

#newsletter_form{
	overflow:hidden;
}

.newsletter_title{
	float:left;
	padding-left: 10px;
	padding-top: 2px;
	font-size: 16px;
	font-family: 'IntervalSansPro-Light';
}

.newsletter_subscribe{
	width:100%;
	min-width:300px;
}

.newsletter_subscribe label{
	clear:both;
	display:block;
	float:left;
	width:100px;
	padding-top:10px;
}

.newsletter_subscribe input{
	background: none repeat scroll 0 0 #EEE;
	border: none;
	/*border-radius: 5px 5px 5px 5px;*/
	float: left;
	height: 35px;
	padding: 0 5px;
	width: 200px;
	margin-top:5px;
}

.newsletter_subscribe .submit_btn{
	height: 37px;
	margin-left: 10px;
	padding-right:30px;
	width: 90px !important;
	background:url(../images/small_arrow.png) no-repeat 63px 10px;
	border:none !important;
	cursor:pointer;
}

.newsletter_form{
	padding-left:60px;
	padding-top:60px;
}

#newsletters{
	list-style:none;
	margin-top:40px	;
}

#newsletters li{
	overflow:hidden;
}

/*ESPACES PRO
--------------------------------------------------------*/
#disconect_link{
	display:none;
	position:absolute;
	top:10px;
	right:10px;
}

#dossiers_de_presse, #fiches_techniques{
	list-style:none;
}

#dossiers_de_presse li, #fiches_techniques li{
	overflow:hidden;
	padding-bottom: 10px;
}

.presse_file_link{
	clear:left;
	padding-left: 40px;
	font-size:14px;
}

#pagepro_container{
	padding-top:40px;
}

/*SPECTACLES
--------------------------------------------------------*/
li .spectacle_infos{
	height:267px;
}

li .left_content img{
	width:490px;
}

.spectacle_links a{
	font-size:20px;
	padding-right:50px;
	font-family:'IntervalSansPro-Med';
}

.spectacle_links{
	padding:20px 0 0 20px;
}

.month_name_for_spectacle_list{
	height:auto !important;
	padding-left:25px;
}

.month_name_for_spectacle_list a{
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	font-family:'IntervalSansPro-Med';
}

.scroll_to_top{
	float:right;
	padding-right:20px;
}

.calendar_margin{
	margin:0px 20px;
}

#search_sliders .jules_slider img, #nwslt_jules_sliders .jules_slider img, #spacepro_jules_sliders .jules_slider img{
	width:490px;
}

#search_sliders, #nwslt_jules_sliders, ##spacepro_jules_sliders{
	height:390px;
	position:relative;
}

#search_content, #newsletter_content, #spacepro_content{
	width:450px;
	float:left;
	padding:20px;
	background:#fff;
	min-height: 290px;
}

#newsletter_content, #spacepro_content, #search_results{
	color:#000;
}

#search_results{
	list-style:none;
}

.search_form_page{
	padding-bottom:50px;
}

#calendrier_spectacles{
	font-size: 11px;
	min-width: 530px;
	padding:20px;
	margin: 0;
}

#legende_calendrier{
	height: 30px;
	text-align: center;
	padding-top: 20px;
	padding-left: 20px;
}
#legende_calendrier div{
	float:left;
	font-size:10px;
	margin-left:3px;
}
#legende_calendrier span{
	padding-top:3px;
}
#legende_calendrier img{
	margin-top:-2px;
}

#calendrier_spectacles li{
	clear:both;
	overflow:hidden;
	padding-top:2px;
	font-family: 'IntervalSansPro-Light';
}

#calendrier_spectacles li .calendar_field{
	float:left;
	text-align:center;
	border-bottom:1px solid #fdc400;
	margin-bottom:2px;
	padding-bottom:1px;
	vertical-align: bottom;
}

.calendar_date{width:7%; text-align:left !important;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_heure{width:8%;line-height:17px;font-size:10px;}
.calendar_numero{width:7%;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_spectacle{width:39%;text-align:left !important;font-family: 'IntervalSansPro-Med';line-height:16px;padding-bottom:2px !important;}
.calendar_lieu{width:16%; line-height:17px;font-size:10px !important;}
.calendar_tarif{width:12%; line-height:17px;font-size:10px !important;}
.calendar_extras{width:8%; border:none !important;margin-left:10px;line-height:17px;}


.month_name{
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:10px !important;
	border-bottom:1px solid #fdc400;
	margin-right:12%;
	font-family: 'IntervalSansPro-Med';
}

.green_line, .green_line a{color:green !important;}
.red_line, .red_line a{color:red !important;}

.des {
	background-color:#08618D;
	color:#FFFFFF;
	padding-bottom: 0;
	line-height: 8px;
	padding-top: 5px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 5px;
}

.audiodescription, .lsf{
	background-color:#000000;
	color:#FFFFFF;
	padding-bottom: 0;
	line-height: 8px;
	padding-top: 5px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 5px;
}

#programmation_spectacles li{
	font-size:12px;
	overflow:hidden;
	height:267px;
	margin-bottom:20px;
}

#programmation_spectacles li .top_spectacle{
	padding-top:0px;
}

#calendrier_content{
	background:#FFF;
	color:#000;
}

#calendrier_jules_sliders{
	position:relative;
	height: 320px;
}

#programmation_spectacles, #month_list{
	list-style:none;
	clear:both;
}

#month_list{
	padding-left: 25px;
	padding-bottom: 35px;
	overflow: hidden;
}

#month_list li{
	float:left;
	font-family:'IntervalSansPro-Med';
	padding-right:26px;
}

#month_list li a{
	color:#FFF;
}

/*HOME
--------------------------------------------------------*/
.home_item{
	overflow:hidden;
	clear:both;
}

#home_container .spectacle_infos{
	background:#000;
	color:#FFF;
	border-bottom:1px solid #fff;
	height:100%;
	min-height:100%;
}

#home_container .spectacle_infos .spectacle_links a{
	color:#FFF;
	font-family:'IntervalSansPro-UltLight';
}

#home_container .left_content{
	border-bottom:1px solid #000;
}

#home_container .spectacle_infos{
	color:#fff !important;
}

.home_item .genre_age{
	color:#ffcc00;
}

.home_item .genre_age span{
	background:url(../images/yellow_disc.png) no-repeat top left;
	padding-left:17px;
	font-size:16px;
}

.home_item .date_infos{
	padding-left:19px;
	background:url(../images/white_star.png) no-repeat -2px -2px;
	color:#FFF;
	font-size:16px;
}

.home_item .tld{
	color:#fff;
}

#home_container .spectacle_infos h1{
	color:#fff;
	font-size:20px;
}

#home_container .first_home .spectacle_infos h1{
	font-size:30px;
}

.first_home .top_spectacle{
	font-size:16px;
}

.first_home .tld{
	font-size:14px !important;
}

.home_item .top_spectacle{
	padding:0 20px;
	font-size:14px;
}

.home_item .tld{
	padding-top:5px;
	font-size:11px;
}

.home_item .tld p{
	padding-top:2px;
}

.spectacle_list_numero{
	float:left;
	width:30px;
}

.spectacle_list_title{
	float:left;
	width:400px;
}

/*MENU
--------------------------------------------------------*/
header{
	width:980px;
	margin:20px 0 65px 0;
	overflow:hidden;
}

header #navigation{
	float:left;
	max-width:730px;
	list-style:none;
	position: relative;
	margin-left:25px;
}

#navigation li{
	margin: 38px 20px 0 0;
	padding-bottom: 33px;
	cursor: pointer;
	float:left;
	position:relative;
}

#navigation li ul{
	display:none;
	list-style: none;
	position: absolute;
	width: 700px;
	left: 0;
	top: 60px;
}

#navigation li ul .link{
	float:left;
	margin:5px 20px 0 0 ;
}

#navigation li ul .link a{
	color:#a2a2a2;
}

#navigation li ul .link a.on, #navigation li ul .link a:hover{
	color:#fff;
}

#navigation li .menu_title.on{
	color:#FFF;
}

.menu_title:hover{
	color:#FFF;
}

header #logo{
	width:250px;
	float:right;
}

.menu_title{
	font-size:15px;
	font-family:"IntervalSansPro-Light";
	color: #FDC400;
}

/*FOOTER
--------------------------------------------------------*/

footer{
	width:980px;
	text-align:center;
	margin:78px 0;
}

footer a{
	color:#999999 !important;
	font-size:14px;
	font-family:"IntervalSansPro-Light";
	padding-right: 20px;
}


#ftf_link{
	display:none;
}

#search_results li{ overflow:hidden;}
.search_form {margin-bottom:20px;}
/*.fat{font-family:IntervalSansPro-Med;color:#444;}*/

.search_form input{
	width:150px;
}

.search_form_page .submit_btn{
	border: 1px solid #747474;	
	color: #FDC400;
	background: #000;
	padding: 2px 10px;
	margin-left:5px;
}

#next_show, #prev_show{
	color:#1285bc;
	padding:2px;
}

#next_show_caption, #prev_show_caption{
	position:absolute;
	display:none;
	border:1px solid #434343;
	background:#000;
	top:0px;
	right:95px;
	padding:15px;
	color:#eee;
	z-index:9999;
}
#prev_show_number, #next_show_number{
	font-size:40px;
}
#prev_show_title span, #next_show_title span{
	font-weight:bold;
}


@media screen and (max-width: 640px){
	body{
		width:100%;
		min-width:100% !important;
		overflow:visible;
	}
	
	#growl_messages{
		left:10px !important;
	}
	
	#intro {
		position:static !important;
	}
	#nav_intro li {
		margin-top:5px;
	}
	
	#spectacle_slider{
		background:#000;
		overflow:hidden  !important;
		position:static !important;
		height:auto  !important;
	}	
	
	#programmation_container, #calendrier_container, #newsletter_containers, #spacepro_containers, #search_container {
		position:static !important;
	}
	#pages, #spectacle_container{
		position:static !important;
		padding-bottom:0 !important;
	}
	
	#spectacle_slider ul {
		position:static !important;
		overflow:hidden;
	}
	#spectacle_slider ul li{
		float:none !important;
		clear:both;
		overflow:hidden;
		margin:5px 0 !important;
	}
	#spectacle_slider ul li a{
		float:left;
		overflow:hidden;
	}
	#spectacles_titles {
		display:none;
	}
	#spectacle_slider ul li .tool_tip_title {
		position:static !important;
		float:right !important;
		height: auto;
		width: 180px;
		text-align: right;
		padding-right: 10px;
	}
	
	#spectacle_slider ul li div{
		position:static !important;
	}
	.month_name_for_calendar{
		height:25px !important;
		width:100% !important;
	}
	#spectacle_slider ul li.month_name_for_calendar a{
		float:none !important;
	}
	.month_name_for_calendar p{
		writing-mode: lr-tb !important;
		-webkit-transform: rotate(0deg) !important;	
		-moz-transform: rotate(0deg) !important;
		-ms-transform: rotate(0deg) !important;
		-o-transform: rotate(0deg) !important;
		transform: rotate(0deg) !important;
		position:static !important;
		text-align:center !important;
		width:100% !important;
	}
	.numero_title{
		text-align:right !important;
	}
	#programmation_spectacles li a, #programmation_spectacles li a:visited {
		display:inline !important;
	}
	.spectacle_list_title {
		width: 200px;
		word-wrap: break-word;
	}
	#programmation_spectacles{
		width:280px !important;
		margin:0 10px !important;
	}
	#menu {
		position:static !important;
	}
	#menu_ul {
		padding: 20px 0 10px !important;
		width: 330px !important;
	}
	#informations_pratiques{
		margin-left:18px !important;
	}
	#close_menu{
		display:none !important;
	}
	
	#presentation, .numero{
		position:static !important;
		overflow:hidden;
	}
	.overview h1{
		display:block !important;
		word-wrap: break-word;
	}
	#legende_calendrier, #calendrier_spectacles, #calendrier_content {
		min-width:0px !important;
	}
	#calendrier_spectacles li{
		border-bottom: 1px solid #FDC400;
		margin-right: 12%;
	}
	#calendrier_spectacles li .calendar_field {
		text-align:left !important;
		border:none !important;
	}
	.calendar_spectacle {width:63%}
	.calendar_lieu {clear:both; padding-right: 5px; width:auto !important;}
	.calendar_tarif {padding-right: 5px; width:auto !important;}
	.calendar_date {width:14% !important;}
	.calendar_heure {width:19% !important;}
	.calendar_extras {width:15% !important;}
	.month_name{padding-top:30px !important;}
	
	.search_form input{
		width:250px !important;
	}
	
	.infobulle_lieu, .{
		color:#fff !important;
	}
	
	.overview{
		margin:0px 10px;
	}
}