
	<div id="socials">
		<a href="https://www.facebook.com/lacriee" target="_blank"><img src="images/facebook_left.png"></a>
		<a href="http://fr.pinterest.com/theatrelacriee/" target="_blank"><img src="images/pinterest.png"></a>
		<a href="https://twitter.com/theatrelacriee" target="_blank"><img src="images/twitter.png"></a>
		<a href="https://plus.google.com/116212556835513413670/posts" target="_blank"><img src="images/plus.png"></a>
		<a href="http://instagram.com/theatrelacriee" target="_blank"><img src="images/instagram.png"></a>
		<a href="http://www.youtube.com/user/LACRIEEMARSEILLE" target="_blank"><img src="images/youtube_left.png"></a>
	</div>
	<div id="search_form">
		<form action="#" name="search">
			<input type="text" name="query_string" required tabindex="1" placeholder="Rechercher">
		  <input type="submit" class="submit_btn" value="OK"/>
		</form>
	</div>