
	<div id="socials">
		<a href="#"><img src="images/facebook_left.png"></a>
		<a href="#"><img src="images/youtube_left.png"></a>
	</div>
	<div id="search_form">
		<form action="#" name="search">
			<input type="text" name="query_string" required tabindex="1" placeholder="Rechercher">
		  <input type="submit" class="submit_btn" value="OK"/>
		</form>
	</div>