<div id="spectacle_content">
	<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
	<div class="viewport">
		<div id="presentation" class="overview">
			<div id="inter_spectacle_navigation">
				<a href="" id="prev_show" alt="spectacle précédent"><<</a>
				<a href="" id="next_show" alt="spectacle suivant">>></a>
				
				<div id="next_show_caption">
					Spectacle Suivant
					<div id="next_show_number"></div>
					<div id="next_show_title"></div>
					<div id="next_show_infos"></div>
				</div>
				<div id="prev_show_caption">
					Spectacle Précédent  
					<div id="prev_show_number"></div>
					<div id="prev_show_title"></div>
					<div id="prev_show_infos"></div>
				</div>
			</div>
			
			<h1>${title}</h1>
			<div class="numero">${numero}</div>
			<div class="top_spectacle">
				<div class="tld">${tld}</div>
			</div>
			<div class="presentation">${presentation}</div>
		</div>
	</div>
</div>
<div id="images_spectacle"></div>
	