<div id="spectacle_content" class="spectacle_infos">

			<div id="inter_spectacle_navigation">
				<a href="" id="prev_show" alt="spectacle précédent"><img src="/images/fleche_gauche.png"></a>
				<a href="" id="next_show" alt="spectacle suivant"><img src="/images/fleche_droite.png"></a>
				
				<div id="next_show_caption">
					<span id="next_show_genre"></span>
					<div id="next_show_number"></div>
					<div id="next_show_title"></div>
					<div id="next_show_infos"></div>
				</div>
				<div id="prev_show_caption">
					<span id="prev_show_genre"></span>
					<div id="prev_show_number"></div>
					<div id="prev_show_title"></div>
					<div id="prev_show_infos"></div>
				</div>
			</div>
			
			<h1>${title}</h1>
			<div class="numero">${numero}</div>
			<div class="top_spectacle">
				<div class="genre_age"><span id="genre_spectacle">${genre}</span><span id="age_spectacle">${age}</span></div>
				<div class="date_infos">${date_affichee}</div>
				<div class="tld">${tld}</div>
				<div class="infos_prog">${info_prog}</div>
				<div class="resume">${resume}</div>
			</div>
			<div class="presentation">${presentation}</div>
		</div>
</div>

<div class="left_content" id="left_spectacle">
	<div id="images_spectacle" class="images_slider"></div>
	<div class="reservation no_border" id="reservation_block">
		<h2 id="lien_reservation_spectacle"><a href="#">Réservez en ligne 24h/24</a></h2>
		<p class="grand">ou par téléphone au 04 91 54 70 54<br>
		du mardi au samedi de 12h à 18h</p>
		<ul>
			<li><a href="">⊲ Découvrez tous nos tarifs</a></li>
			<li><a href="">⊲ Renseignez-vous sur nos abonnements</a></li>
		</ul>
	</div>
	<div class="reservation" id="autour">
		<h2>Autour du spectacle</h2>
		${autour}
	</div>
	<div class="reservation" id="plus">
		<h2>En savoir plus</h2>
		${plus}
	</div>
	<div id="left_bottom">
		<div id="video_youtube">
			${video}
		</div>
		<%= render "front/layouts/left_bottom" %>
	</div>
</div>