
<div id="spectacles_sliders">
	<div id="presentation">
		<h1>${title}</h1>
		<div class="presentation">${presentation}</div>
	</div>
</div>
<div id="images_spectacle"></div>
<div id="sliders_spectacle_containers"></div>
<ul id="sliders_spectacle_menu"></ul>
	