<div id="spectacle_content">
	<div class="scrollbar"><div class="track"><div class="thumb"></div></div></div>
	<div class="viewport">
		<div id="presentation" class="overview">
			<!--a href="" id="next_show">Next</a>
			<a href="" id="prev_show">Prev</a-->
			
			<h1>${title}</h1>
			<div class="numero">${numero}</div>
			<div class="top_spectacle">
				<div class="tld">${tld}</div>
			</div>
			<div class="presentation">${presentation}</div>
		</div>
	</div>
</div>
<div id="images_spectacle"></div>
	