<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Théâtre National de Marseille</title>
	
	<link rel="stylesheet" href="/theme/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<!--
	          __                                 
	         /\ \                   __           
	   ___   \_\ \     __   __  __ /\_\     __   
	 / __`\  /'_` \  /'__`\/\ \/\ \\/\ \  /'__`\ 
	/\ \L\ \/\ \L\ \/\  __/\ \ \_/ |\ \ \/\  __/ 
	\ \____/\ \___,_\ \____\\ \___/  \ \_\ \____\
	 \/___/  \/__,_ /\/____/ \/__/    \/_/\/____/
	odevie.org
	Web agency		
	-->
	
	<link rel="icon" type="type/png" href="images/favicon.ico" />
</head>

<body>
	<%= @newsletter.block %>
</body>
</html>